<div>
    <div>
        <a href="#">
            <div style="border: 2px solid #F1F1F1; height: 100px; padding: 10px; width:240px; ">
                <div style="float:right; width:126px;">
                    <span style="font-weight:bold;">Salón con jardín 200M2</span>
                    <p>
                        Incluye sillas, mesas, juegos infantiles, etc.
                    </p>
                    <b>12.34 USD</b>
                </div>
                <div style="margin-bottom:5px;">
                    <img src="~/Images/salondefiestas.jpg" alt="foto" width="80" />
                </div>
            </div>
        </a>
    </div>
    <div>
        <a href="#">
            <div style="border: 2px solid #F1F1F1; height: 100px; padding: 10px; width: 240px; ">
                <div style="float:right; width:126px;">
                    <span style="font-weight:bold;">Salón con jardín 200M2</span>
                    <p>
                        Incluye sillas, mesas, juegos infantiles, etc.
                    </p>
                    <b>12.34 USD</b>
                </div>
                <div style="margin-bottom:5px;">
                    <img src="~/Images/salondefiestas2.jpg" alt="foto" width="80" />
                </div>
            </div>
        </a>
    </div>
    <div>
        <a href="#">
            <div style="border: 2px solid #F1F1F1; height: 100px; padding: 10px; width: 240px; ">
                <div style="float:right; width:126px;">
                    <span style="font-weight:bold;">Salón con jardín 200M2</span>
                    <p>
                        Incluye sillas, mesas, juegos infantiles, etc.
                    </p>
                    <b>12.34 USD</b>
                </div>
                <div style="margin-bottom:5px;">
                    <img src="~/Images/salondefiestas3.jpg" alt="foto" width="80" />
                </div>
            </div>
        </a>
    </div>
    <div>
        <a href="#">
            <div style="border: 2px solid #F1F1F1; height: 100px; padding: 10px; width: 240px; ">
                <div style="float:right; width:126px;">
                    <span style="font-weight:bold;">Salón con jardín 200M2</span>
                    <p>
                        Incluye sillas, mesas, juegos infantiles, etc.
                    </p>
                    <b>12.34 USD</b>
                </div>
                <div style="margin-bottom:5px;">
                    <img src="~/Images/salondefiestas4.jpg" alt="foto" width="80" />
                </div>
            </div>
        </a>
    </div>
</div>