
<div style="width:150px; margin:0px auto;">
    <div>
        <button class="btn btn-primary">Crear un evento</button>
    </div>
    <hr />
    <a class="btn btn-link">Mis eventos</a>
    <hr />
    <a class="btn btn-link">Mis invitaciones</a>
    <hr />
    <a class="btn btn-link">Amigos/Invitados</a>
</div>