<div>

    @*<div class="pull-left" style="width: auto; border: 1px solid #eeeeee; padding: 10px; max-width:200px;">
        <div>
            <button class="btn btn-primary">Crear un evento</button>
        </div>
        <hr />
        <a class="btn btn-link">Mis eventos</a>
        <hr />
        <a class="btn btn-link">Mis invitaciones</a>
        <hr />
        <a class="btn btn-link">Amigos/Invitados</a>
    </div>
    <div class="pull-right" style="width: auto; border: 1px solid green; padding: 10px; max-width: 200px;">

    </div>
    <div class="container" style="border:1px solid red;">

    </div>*@
    <div class="row">
        <div class="col-xs-2">
            <div>
                <button class="btn btn-primary">Crear un evento</button>
            </div>
            <hr />
            <a class="btn btn-link">Mis eventos</a>
            <hr />
            <a class="btn btn-link">Mis invitaciones</a>
            <hr />
            <a class="btn btn-link">Amigos/Invitados</a>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-md-2 col-md-push-8" style="border:1px solid red;">
                    <div class="table">
                        <div class="row">
                            <div class="col">
                                <p>asdasdasdadasdasdasdsd</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>asdasdasdadasdasdasdsd</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p>asdasdasdadasdasdasdsd</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-md-pull-2" style="border:1px solid green;">

                </div>
            </div>
        </div>
    </div>
</div>
