<div>
    <div style="display:table; width:100%;">
        <div style="display:table-row;">
            <div style="display:table-cell; width:15%;">
                @{ Html.RenderAction("_MenuLateral", "Social"); }
            </div>
            <div style="display:table-cell; width:70%;">
                <h2>Bienvenido Israel Romero Ponce</h2>
                <h4>Empieza con crear tu primer evento</h4>
                <button class="btn btn-primary">
                    Crear un evento
                </button>
            </div>
            <div style="display:table-cell; width:15%; font-size:10px;">
                @{ Html.RenderAction("_ProductosMasVendidos", "Tienda"); }
            </div>
        </div>
    </div>

</div>
