@{
    Layout = "~/Views/Shared/_LayoutComercial.cshtml";   
}

<div style="width:100%; height:500px; background-image:url('../../Images/collage.jpg'); background-size:cover;">
    <div style="float:left;;">
        <div style="width:600px; height:400px; margin:50px;">
            <iframe width="600" height="400" src="//www.youtube.com/embed/KQ6zr6kCPj8?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div style="float:right;">
        <div class="panel" style="width:300px; height:400px; margin:50px;">
            @using (Html.BeginForm())
            {
                <input class="form-control" type="email" placeholder="Email"/>
                <input class="form-control"  type="number" placeholder="Edad" />
                <div class="dropdown">
                    <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
                        Dropdown
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
