body {
    padding-top: 0px;
    padding-bottom: 20px;
    background-color:#FAFAFA;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.singup-form {
    width: 300px;
    height: 400px;
    margin: 50px;
    padding: 16px;
    background: -moz-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%, rgba(19,19,19,0.46) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(76,76,76,1)), color-stop(100%,rgba(19,19,19,0.46))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%,rgba(19,19,19,0.46) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%,rgba(19,19,19,0.46) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(76,76,76,1) 0%,rgba(19,19,19,0.46) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(76,76,76,1) 0%,rgba(19,19,19,0.46) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#75131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border: 1px solid #555555;
}

.panel-home-singup {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-image: url('../../Images/fondo.png');
    -webkit-box-shadow: 7px 7px 15px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 15px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 15px 0px rgba(50, 50, 50, 0.75);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border:1px solid #eeeeee;
    background-color:#FAFAFA;
}
